/*Configuração global*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 1;
    padding: 1;
}

body {

    background-color: #707070;
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraph {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    /*tamanho da fonte*/
    font-size: 30px;
    /*cor da fonte*/
    color: #fff;
    /*centralizar texto*/
    text-align: center;
    /*deixar texto maiusculo*/
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.paragraph {
    font-size: 16px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}


h2 {

    font-family: 'Roboto', sans-serif;
}

input {
    margin-right: 5px;
}

.texto2 {
    display: block;
    font-size: 16px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.texto2 p {
    width: 50%;


}

#imagem2 {
    width: 50px;
    height: 50px;
    float: right;
}

.texto3 {
    font-size: 16px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

.texto3 p {
    width: 50%;
    float: right;
}


#imagem3 {
    width: 50px;
    height: 50px;
    float: left;
    margin-bottom: 250px;
}

footer h3 {
    text-align: center;
    color: red
}

footer {
    width: 100%;
    height: 50%;
    margin-top: 15rem;
}