/*Configuração global*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 1;
    padding: 1;
}

body {

    background-color: #707070;
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraph {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    /*tamanho da fonte*/
    font-size: 30px;
    /*cor da fonte*/
    color: #fff;
    /*centralizar texto*/
    text-align: center;
    /*deixar texto maiusculo*/
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.paragraph {
    font-size: 16px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}


h2 {

    font-family: 'Roboto', sans-serif;
}

input {
    margin-right: 5px;
}

h3 {
    font-size: 16px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}