/*Configuração global*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:  #707070;
    background-image: url('img/');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    /*tamanho da fonte*/
    font-size: 30px;
    /*cor da fonte*/
    color: red;
    /*centralizar texto*/
    text-align: center;
    /*deixar texto maiusculo*/
    text-transform: uppercase;
}
#titulo1{
    <style> @import url ('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    </style>
    color:rgb(255,0,255);
    font-size: 35px;
    text-align: left;
    text-transform: uppercase;
    font-family:'Anton';
}
.titulo2{
    color: #fff00f;
    font-size:  32px;
    text-align: right;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}